.form {
  padding: 2rem;
  background: rgb(230, 229, 229);
  border-radius: 4px;
}

.formBtn {
  display: block;
  padding: 1rem;
  width: 100%;
  background-image: linear-gradient(#89f39f, #28e8e7);
  color: #fff;
  box-shadow: 0 2px 2px #28e8e7;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.formGroup {
  display: flex;
  justify-content: space-evenly;
}
