@import 'styles/global.scss';

.listItem {
  @include list-item;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 5rem;
    transform: translate(calc(-100% - 5px), -50%);
    background: #c9cdd7;

    @media only screen and (max-width: 600px) {
      width: 2.5rem;
    }
  }
  &::after {
    content: 'And';
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-12rem, -50%);
    color: #c9cdd7;
    font-weight: normal;

    @media only screen and (max-width: 600px) {
      transform: translate(-9rem, -50%);
    }
  }
}
.listBtn {
  @include remove-btn;
  margin-right: 0.4rem;
  display: inline-block;
  position: relative;
}
