@import 'styles/global.scss';

.modalWrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.589);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(243, 238, 238);
  padding: 2rem;
  border-radius: 4px;
}

.modalBtn {
  @include remove-btn;
  position: absolute;
  top: 0;
  right: 0;
  right: 0.5rem;
  transform: translatey(-50%);
}
